@-webkit-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@keyframes rainbow { 
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}

h3 {
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
}

#login {
  background-color: rgba(0,0,0,0.7);
  z-index: 15;
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  display: block;
}

#filter {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  bottom: 50px;
  right: 50px;
}

#nameForm {
  padding-top: 50vh;
  font-family: Arial, Helvetica, sans-serif;
}

#nameForm label {
  display: block;
  font-weight: bold;
  font-size: 25px;
  padding: 5px;
}

#top {
  text-align: center;
  margin: 0 auto;
}

#top h1 {
  font-size: 2em;
}

#top h3 {
  height: 100px;
  position: fixed;
  left: 50px;
  top: 50px;
  margin: 0;
}

#content {
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: 1em;
  margin: 50px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

#content b {
  display: inline-block;
  margin-right: 10px;
}

#content p {
  display: inline-block;
  margin: 0;
}

#newNote {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #d8d8d8;
  font-weight: bold;
  font-size: 30px;
  transition: all 0.2s;
  border: none;
  position: fixed;
  top: 50px;
  right: 50px;
  user-select: none;
  box-shadow: 0 0 5px rgba(0,0,0,0.25);
  z-index: 10;
}

#newNote:disabled {
  box-shadow: none;
}

#newNote.yellowSticky:hover {
  background-color: #cccc00;
}

#newNote.pinkSticky:hover {
  background-color: #ff6666;
}

#newNote.blueSticky:hover {
  background-color: #99ccff;
}

#newNote:hover {
  color: #d8d8d8;
  cursor: pointer;
}

/* Sticky Colors */
.yellowSticky {
  background-color: #f5ce53;
}

.yellowSticky .header {
  background-color: #c99c00;
}

.blueSticky {
  background-color: #99ccff;
}

.blueSticky .header {
  background-color: #004080;
}

.pinkSticky {
  background-color: #ff6666;
}

.pinkSticky .header {
  background-color: #ff4d4d;
}

.stickyNote {
    position: absolute;
    z-index: 9;
    text-align: center;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
}

#myDiv textarea {
  background: transparent;
  color: black;
}

.header {
    padding: 10px;
    cursor: move;
    z-index: 10;
}

.editor {
  background-color: transparent;
  border-color: transparent;
  font-family: 'Permanent Marker', cursive;
  font-weight: lighter;
  min-width: 100px;
  min-height: 100px;
}

.ql-toolbar {
  border: none;
}